.in-gallery_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.in-gallery_modal-placeholder {
  margin: 10vh auto;
  max-width: 1000px;
  width: auto;
  max-height: 80vh;
}

.in-gallery_modal-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
  position: relative;
  height: auto;
}

.in-gallery_modal-photo-img {
  /*width: 100%;
  height: auto;*/
}

.in-gallery_modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.in-gallery_modal-nav {
  cursor: pointer;
}