@import '~foundation-sites/scss/foundation';
// @import '~foundation-sites/scss/grid/grid';

// @include foundation-global-styles;

// @include foundation-forms;
// @include foundation-typography;

@import "vars";
@import "flexModal";

html, body {
  height: 100%;
}

#mountIncludeGallery {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 12px;
}

#mountIncludeGallery {

  // @include foundation-typography;
  @include foundation-flex-grid;
  @include foundation-forms;

  @import '../../components/UploadsList';
  @import '../../components/UploadPhotos';
  @import '../../components/Photo';
  @import '../../components/Photos';
}

#uploadified_metabox_photos_R {
  .in-gallery__footer {
    text-align: center;
    padding: 8px 0;
    background-color: #c3c5c9;
    border: 1px solid #ccc;
    border-radius: 2px;
    > a {
      color: #fff;
      text-decoration: none;
    }
  }
}