/* ===================== flex modal ======================= */

/* master placeholder */
.in-flexModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100000;
  box-sizing: border-box;
}

/* overlay dimmer */
.in-flexModalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* box itself */
.in-flexModalBox {
  background-color: #000;
  // margin: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  user-select: none;
}

/* image */
.in-flexImage {
  display: block;
  width: 100%;
  height: auto;
  filter: blur(0);
  transition-duration: 0s;
  transition-property: filter, transform;
  transform: scale(1);
  &.in-flexImage-loading {
    filter: blur(10px);
    transform: scale(1.1);
    transition-property: filter, transform;
    transition-duration: 0.2s;
  }
}

/* modal buttons */
.in-flexModalNavArrow {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  z-index: 10;

  transition-duration: 0.3s;

  &:hover {
    .in-flexModalArrowCircle {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  &.in-flexModalNavArrowLeft {
    left: 0;
    .in-flexModalArrowCircle {
      left: 15px;
    }
  }

  &.in-flexModalNavArrowRight {
    right: 0;
    .in-flexModalArrowCircle {
      right: 15px;
    }
  }
}

.in-flexModalArrowCircle {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  padding: 15px;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translate(0, -25px);
  border-radius: 50px;
  color: #000;
  box-sizing: border-box;
  > i {
    font-size: 25px;
    color: #000;

    position: absolute;
    left: 3px;
    top: 3px;
  }
}

.in-flexModalNavClose {
  cursor: pointer;
  user-select: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 10px 35px 35px;
  color: #000;
  z-index: 20;
  > i {
    color: #000;
    text-shadow: rgba(255, 255, 255, 0.5);
  }
}

/*.in-flexModalImageTitle {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: auto;
  transform: translate(-50%, 50px);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 35px 55px;
  border-radius: 3px;
  white-space: nowrap;
  @media all and (max-width: 400px) {
    white-space: normal;
  }
}*/

.in-flexModalImageExif {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.75);
  padding: 3px 5px;
  white-space: nowrap;
  border-top-right-radius: 3px;
  > strong {
    text-transform: uppercase;
  }
  > span {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    margin-left: 5px;
    padding-left: 5px;
  }
}

.in-flexModalImageLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -150px;
  width: 300px;
  margin-top: -68px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  font-size: 15px;
  z-index: 999;
  pointer-events: none;
  transition-duration: 0.2s;
}