.in-gallery__files-to-upload {
  margin-top: 10px;
  padding: 10px 0;
}

.in-gallery__file-to-upload {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #666;
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.in-gallery__file-summary {
  margin-left: 10px;
}

.in-gallery__form {

}

.in-gallery__form-input {
  label {
    display: block;
  }
  input, textarea {
    display: block;
    width: 100%;
  }
  textarea {
    height: 4rem;
  }
}